.project_container{
    display: flex;
    width: 90vw;
    min-height: 90vh;
    margin-top: 2rem;
    flex-direction: column;
    margin: 6rem 0;
}
a{
    width: 100%;
}
a .project_pic{
    flex: 9 9;
    width: 100%;
    height: 30rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.project_info{
    
    flex: 1 1;
}
ul{
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    align-items: flex-start;
}
ul li {
    margin: 2rem;
}
@media (max-width:600px){
    .project_container{
        flex-direction: column;
    }
}