<section class="project_container">
    <h2>{{project.title}}</h2>
    <a href="{{project.url}}" target="_blank">
    <div [ngStyle]=
    "
    {
        'display':'grid',
        'place-items':'center',
        'background-image':'url('+project.image+')'
    }
    " class="project_pic">
    </div>
 </a>
        <div class="project info">
        <p [innerHTML]="project.projectInfo">
            
        </p>
        <h3>Technologies Used:</h3>
        <ul >
            <li *ngFor="let item of project.technologies; let i = index">{{item}}</li>
        </ul>
    </div>
</section>