<header>
  <i id="logo"></i>
    <main>
    <p id="intro_1">Hello there, my name is</p>
    <!-- hope they fall for it !!!!-->
    <h1><a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank" rel="noopener noreferrer">Luiscar</a> Castro</h1>
    <p id="intro_2">I build Full Stack applications, specialized in JavaScript</p>
    <p id="intro_3">I have been learning web development on my own for the last 4 years, have built some hobby projects as well as the ones that you will later see.</p>
  </main>
  </header>