<section id="contact_me" class="layout">
    <li id="contact_me_title">Contact me</li>
    <div id="contact_me_box">
    <p class="job_status">Currently im looking for new job oportunities so feel free to contact me via:</p>
    <ul class="contact_channels">
      <a href=""><li><i class="fa-solid fa-envelope"></i>Email</li></a>
      <a href="{{linkedin}}" target="_blank"><li><i class="fa-brands fa-linkedin"></i>Linkedin</li></a>
      <a href="{{whatsapp}}" target="_blank"> <li><i class="fa-brands fa-whatsapp" ></i>WhatsApp</li>
      </a>
  </ul>
    </div>   
  </section>