<section #hiThere id="about_me" class="layout">
    <div class="info-me">
      <li id="about_me_title">About me</li>
      <p>Hi, my name is Luiscar! Front end developer,
         have worked in the IT industry for 1 year already and love everything about it. My goal is to be part of a the development team to skyrocket my career and provide the more value possible while learning throughout the journey. Expecting to meet great people that share the same enthusiasm for technology.</p>
      <p>
        Enjoy having conversations with different peoples , always smile and help others with a bit of sense of humor and good vibes, live  those little moments life brings us all, its well known how stress can take over your mind so I maintain a well balanced lifestyle</p>
        <p>
          The technologies I am working with are:
        </p>
        <ul id="tech_container">
          <li class="tech"><strong>HTML</strong></li>
          <li class="tech"><strong>CSS</strong></li>
          <li class="tech"><strong>JavaScript</strong></li>
          <li class="tech"><strong>Angular</strong></li>
          <li class="tech"><strong>ReactiveX / ngXjs</strong></li>
          <li class="tech"><strong>NodeJS</strong></li>
          <li class="tech"><strong>ExpressJS</strong></li>
          <li class="tech"><strong>MongoDB</strong></li>
          <li class="tech"><strong>Mongoose</strong></li>
        </ul>
      </div>
        <div class="picture">
          <div id="picture_frame">
            <div id="img"><span></span></div>
          </div>
        </div>
  </section>